<footer>
    <div class="container">
        <div class="row d-flex">
            <div class="col-1">
                <h4>Browse</h4>
                <ul>
                    <li><a href="index.html">Home</a></li>
                    <li><a href="about.html">About us</a></li>
                    <li><a href="recruitment.html">Recruitment</a></li>
                    <li><a href="leadership.html">Leadership</a></li>
                    <li><a href="legacy.html">Legacy</a></li>
                    <li><a href="contact.html">Contact</a></li>
                    <li><a href="portal.html">Member Portal</a></li>
                </ul>
            </div>
            <div class="col-1">
                <h4>Contact Us</h4>
                <p>Koelbel Building <br>
                    Leeds School of Business <br>
                    995 Regent Dr, Boulder, CO <br> 80309</p>
                <a href="mailto:akpsi@colorado.edu">akpsi@colorado.edu</a>
            </div>
            <div class="col-1">
                <h4>Keep in touch</h4>
                <div class="icons d-flex align-center">
                    <a href="https://www.instagram.com/akpsiboulder/"><i class="fa-brands fa-instagram"></i></a>
                    <!-- <a href="#"><i class="fa-brands fa-linkedin"></i></a>
                    <a href="#"><i class="fa-brands fa-facebook"></i></a> -->
                    <a href="mailto:akpsigrush@gmail.com"><i class="fa-solid fa-envelope-open"></i></a>
                </div>
            </div>
        </div>
    </div>
</footer>