<header>
    <div class="container-fluid">
        <div class="row d-flex align-center justify-between">
            <div class="box">
                <div class="logo">
                    <a href="index.html">
                        <img src="assets/images/logo.png" alt="ALPHA KAPPA PSI" class="img-fluid">
                    </a>
                </div>
            </div>
            <div class="box mobile">
                <ul class="d-flex align-center">
                    <li><a href="index.html">Home</a></li>
                    <li><a href="about.html">About us</a></li>
                    <li><a href="recruitment.html">Recruitment</a></li>
                    <li><a href="leadership.html">Leadership</a></li>
                    <li><a href="legacy.html">Legacy</a></li>
                    <li><a href="contact.html">Contact</a></li>
                    <li><a href="portal.html">Member Portal</a></li>
                </ul>
            </div>
            <div class="box pc">
                <!-- The overlay -->
                <div id="myNav" class="overlay">

                    <!-- Button to close the overlay navigation -->
                    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>

                    <!-- Overlay content -->
                    <div class="overlay-content">
                        <a href="index.html">Home</a>
                        <a href="about.html">About us</a>
                        <a href="recruitment.html">Recruitment</a>
                        <a href ="leadership.html">Leadership</a>
                        <a href="legacy.html">Legacy</a>
                        <a href="contact.html">Contact</a>
                        <a href="portal.html">Member Portal</a>
                    </div>

                </div>

                <!-- Use any element to open/show the overlay navigation menu -->
                <span onclick="openNav()"><i class="fa-solid fa-bars"></i></span>
            </div>
        </div>
    </div>
</header>
